<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <connectionStrings>
    <add name="ConnectionStringLocalTransaction" connectionString="data source=K-PC\SQLEXPRESS;User ID=xst;Password=xst;Initial Catalog=InstantMessaging;Min Pool Size=20;Max Pool Size=512;" providerName="System.Data.SqlClient"/>
    
    <!--<add name="ConnectionStringLocalTransaction" connectionString="Data Source=SQL1003.webweb.com;Initial Catalog=DB_994CB5_InstantMessaging;User Id=DB_994CB5_InstantMessaging_admin;Password=Mcong123;Min Pool Size=20;Max Pool Size=75;" providerName="System.Data.SqlClient"/>-->

    <!--<add name="ConnectionStringLocalTransaction" connectionString="Data Source=mssql.sql123.cdncenter.net;Initial Catalog=sq_instantmessag;User Id=sq_instantmessag;Password=Mcong123;Min Pool Size=20;Max Pool Size=75;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
</configuration>